@charset "utf-8";

/* public*/
* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0px;
	background: rgba(208, 215, 217, 1) url(../images/bg1.jpg) no-repeat center bottom;
	font-family: "microsoft yahei";
}

/* private */

/* 导航条  */
.FixedTitleBar {
	width: 100%;
	position: fixed;
}

header nav .container .navbar-header .navbar-brand img {
	height: 50px;
	width: 50px;
	margin: 25px 0 25px 0px;
}

header nav .navbar-collapse ul li {
	font-family: "Adobe Caslon Pro";
	font-size: 18px;
}

/* 导航条 */
/* 搜索框  */
.se {
	height: 300px;
}

.se div {
	width: 80%;
	margin: 8% auto;
	height: 55px;
	display: flex;
}

.se form {
	margin: auto;
	align-items: center;
	justify-items: center;
}

.se label {
	height: 55px;
	display: flex;
}

#input {
	width: 100%;
	margin: 2px 0 2px 50px;
	border: 2px solid rgb(57, 57, 212);
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	outline: none;
	font-size: 22px;
	padding-left: 20px;
	align-items: center;
	justify-items: center;
}

form .btn1 {
	background-color: rgb(57, 57, 212);
	margin: 2px 0 2px 0;
	line-height: 49px;
	text-align: center;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	width: 120px;
	border: 0;
	color: white;
	outline: none;
	font-size: 14px;
}

form .btn1:hover {
	cursor: pointer;
	background-color: blue;
}

/* 搜索框  */

.imgbutton {
	padding: 20px;
	height: 50px;
}

/* a{
	text-decoration: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 40px;
	background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	background-size: 400%;
	width: 400px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	color:#fff;
	
	border-radius: 50px;
	
	z-index: 1;
}
a::before{
	content: "";
	position: absolute;
	left:-5px;
	right:-5px;
	top: -5px;
	bottom: -5px;
	background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	background-size: 400%;
	border-radius: 50px;
	filter: blur(20px);
	z-index: -1;
}
a:hover::before{
	animation: sun 8s infinite;
}
a:hover{
	animation: sun 8s infinite;
}
@keyframes sun{
	100%{
		background-position: -400% 0;
	}
} */

#logo {
	padding-right: 100px;
}