@charset "utf-8";
/* CSS Document */
.titlebg {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
	
	width: 1000px;
	height: 100px;
	
}

.titletext {
	position: absolute;
	left: 50px;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align: left;
	font-size: 40px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}