@charset "utf-8";
/* public*/
*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0px;
	background: rgba(208,215,217,1) url(../images/bg1.jpg) no-repeat center bottom;
	font-family: "microsoft yahei";
}
/* private */

/* 导航条  */
.search nav {
	height: 60px;width: 100%;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.72);
}
.search nav .float {
	float: left;
}
.search nav .float a{
	color: rgb(79,117,156);
    line-height: 60px;
    margin: 25px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
.search nav .float img {
	height: 60px;width: 80px;
}
.search nav .text {
	float: right;
	margin: 0px 3px;
}
/* 导航条 */
/* 搜索框  */
.se {
	height: 500px;
}
.se form {
	float: left;
	margin: 160px 300px;
}
#input {
	height: 45px;width: 550px;
	margin: 0;
	border: 2px solid rgb(57, 57, 212);
	border-radius: 10px;
}
.se form .btn {
	height: 50px;width: 100px;
	margin-left: -15px;
	border: 0;
	border-radius: 10px;
	color: white;
	background-color: rgb(87, 87, 201);
}
.se form .btn:hover{
	background-color: rgb(54, 54, 206);
}
/* 搜索框  */

.imgbutton {
    padding: 20px;
    height: 50px;
}
/* a{
	text-decoration: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 40px;
	background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	background-size: 400%;
	width: 400px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	color:#fff;
	
	border-radius: 50px;
	
	z-index: 1;
}
a::before{
	content: "";
	position: absolute;
	left:-5px;
	right:-5px;
	top: -5px;
	bottom: -5px;
	background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	background-size: 400%;
	border-radius: 50px;
	filter: blur(20px);
	z-index: -1;
}
a:hover::before{
	animation: sun 8s infinite;
}
a:hover{
	animation: sun 8s infinite;
}
@keyframes sun{
	100%{
		background-position: -400% 0;
	}
} */