@charset "utf-8";
/* CSS Document */
.titlebg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	
	width: 1000px;
	height: 100px;
	background: rgba(217,217,217,1.00)
}

.titletext {
	
	margin-left: 50px;
	margin-top: 30px;
	font-size: 40px;
	width: 400px;
	height: 40px;
	font-family: "微软雅黑";
}