.web-develop .web-box {
    width: 20em;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    border-radius: 30px;
    background-color: white;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2),
        -20px -20px 30px rgb(255, 255, 255);
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.web-develop .web-box:hover{
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 0 rgba(255, 255, 255, 0.4),
        inset 18px 18px 30px rgba(0, 0, 0, 0.1),
        inset -18px -18px 30px rgb(255, 255, 255);
}