body {
    min-width: 1240px;
    padding: 0px;
    margin: 0px;
}

.TitleBar {
    position: absolute;
    margin-top: 0px;
    height: 80px;
    background-color: #ffffff00;
    width: 100%;
}

.title-bar-wrap-1240 {
    margin: 0 auto;
    width: 1240px;
}

.Logo {
    float: left;
    padding-left: 36px;
    padding-right: 36px;
    margin: 0px;
    padding: 0px;
    position: relative;
    display: inline;
}

.Image {
    /* position: absolute; */
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: inline;
    height: 670px;
    /* width: 100%; */
}

.Image img {
    /* position: absolute; */
    left: 50%;
    top: 0;
    /* transform: translateX(-50%); */
    display: inline;
    width: 100%;
}

.AppHeader-Tabs {
    position: relative;
    float: right;
    display: inline-block;
    border-bottom: none;
    padding: 0px;
    height: 80px;
    margin: 0px;
}

.AppHeader-Tabs>li {
    display: inline-block;
    position: relative;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
}

.AppHeader-Tabs a {
    color: white;
    text-decoration: none;
    font-weight: 100;
}

.Logo-a {
    height: 80px;
    display: inline-block;
}

/* 底部 */
.main-footer {
    /* background-color: wheat; */
    height: 400px;
}

.main-footer-warp {
    width: 1240px;
    margin: 0 auto;
    background-color: violet;
    height: 400px;
}

#btn-change-image:hover {
    cursor: not-allowed ;
}