body {
    padding: 0px;
    margin: 0px;
}

.TitleBar {
    position: absolute;
    margin-top: 0px;
    height: 80px;
    background-color: #ffffff00;
    width: 100%;
}

.Logo {
    float: left;
    padding-left: 36px;
    padding-right: 36px;
    margin: 0px;
    padding: 0px;
    position: relative;
    display: inline;
}

.Image {
    display: inline;
    width: 100%;
}

.AppHeader-Tabs {
    display: inline-block;
    border-bottom: none;
    padding: 0px;
    height: 80px;
    margin: 0px;
}

.AppHeader-Tabs>li {
    display: inline-block;
    position: relative;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
}

.AppHeader-Tabs a {
    color: white;
    text-decoration: none;
    font-weight: 100;
}

.Logo-a {
    height: 80px;
    display: inline-block;
}