body {
    font-size: 20px;
    font-weight: 200;
    padding: 0px;
    margin: 0px;
    /* background: grey; */
}

a {
    color: white;
    text-decoration: none;
}

.page {
    width: 100%;
    /* height: 100%; */
    /* background: lightblue; */
}

.background {
    width: 100%;
    height: 200px;
    /* background: lightcoral; */
    /* background: royalblue; */
}

.header {
    width: 100%;
    height: 100px;
    float: left;
    position: absolute;
    top: 0px;
    /* opacity: 0;
    z-index: 1; */
    /* background: red; */
}

.header-center {
    width: 1200px;
    height: 80px;
    margin: auto;
    /* background: green; */
    /* border: 1px solid #FFF; */
}

.header-left {
    width: 140px;
    height: 80px;
    /* background: hotpink; */
    float: left;
}

.header-right {
    width: 300px;
    height: 80px;
    /* background: khaki; */
    float: right;
}

.header-left>div {
    float: left;
    width: 120px;
    line-height: 80px;
}

.header-right>div {
    float: right;
    line-height: 80px;
    width: 120px;
}

.github {
    float: right;
    margin-top: 20px;
    width: 32px;
    height: 32px;
}

.background>img {
    width: 100%;
    height: 1000px;
}

#logo {
    width: 140px;
    height: 50px;
    padding-top: 15px;
}